@font-face {
    font-family: 'Uber';
    src: url('../fonts/UberMoveTextBold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Uber';
    src: url('../fonts/UberMoveTextLight.otf');
    font-weight: 200;
}
@font-face {
    font-family: 'Uber';
    src: url('../fonts/UberMoveTextMedium.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Uber';
    src: url('../fonts/UberMoveTextRegular.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Baskerville Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville Normal'), url('../fonts/baskvl.woff') format('woff');
}
@font-face {
    font-family: 'Baskerville Light';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville Light'), url('../fonts/BASKE9.woff') format('woff');
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    font-family: Uber;
    width: 100%;
    overflow-x: hidden;
}

header .navbar {
    padding: 0;
    margin: 0;
}

header .navbar .navbar-top {
    padding: 30px 170px;
    background: #216936;
    width: 100%;
}

header .navbar .navbar-bottom {
    padding: 30px 100px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .navbar-top .nav-top-links {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
}

header .navbar .navbar-bottom .nav-top-links {
    padding: 0;
    margin: 0;
}

.navbar .navbar-top .nav-top-links .nav-top-link-item,
.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.navbar .navbar-top .nav-top-links .nav-top-link-item a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    padding: 0 15px;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item a img {
    margin-left: 10px;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item .nav-bottom-sub-menu {
    position: absolute;
    display: flex;
    padding-top: 70px;
    left: 50%;
    transform: translateX(-40%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    background: #fff;
    z-index: 101;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item:hover .nav-bottom-sub-menu {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item .nav-bottom-sub-menu .nav-bottom-sub-menu-item {
    padding: 0 50px;
    border-right: 1px solid #C4C4C4;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item .nav-bottom-sub-menu .nav-bottom-sub-menu-item:last-of-type {
    border-right: none;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item .nav-bottom-sub-menu .nav-bottom-sub-menu-item .title {
    font-size: 18px;
    font-family: Baskerville Light;
    color: #318649;
    margin-bottom: 24px;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item .nav-bottom-sub-menu .nav-bottom-sub-menu-item .sub-menu-list {
    padding: 0;
    margin: 0;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item .nav-bottom-sub-menu .nav-bottom-sub-menu-item .sub-menu-list li {
    padding: 0;
    margin: 5px 0;
    list-style: none;
}

.navbar .navbar-bottom .nav-bottom-links .nav-bottom-link-item .nav-bottom-sub-menu .nav-bottom-sub-menu-item .sub-menu-list a {
    padding: 0;
    white-space: nowrap;
    font-size: 14px;
}

main {
    min-height: 100vh;
}

main .banner {
    padding: 30px 100px 100px 100px;
}

main .banner .top-banner {
    position: relative;
}

main .banner .top-banner img {
    margin-left: 100px;
}

main .banner .top-banner .top-banner-text {
    position: absolute;
    bottom: -30px;
    width: 468px;
    margin-top: 30px;
    background: rgba(245, 245, 245, 0.65);
    padding: 46px 55px 100px 55px;
}

main .banner .top-banner .top-banner-text .title {
    font-size: 13px;
    margin-bottom: 20px;
}

main .banner .top-banner .top-banner-text .line {
    height: 2px;
    width: 50px;
    background: #c4c4c4;
    margin-bottom: 52px;
}

main .banner .top-banner .top-banner-text h1 {
    font-size: 48px;
    font-family: Baskerville Light;
    color: #318649;
    margin-bottom: 20px;
}

main .banner .top-banner .top-banner-text p {
    font-size: 14px;
    margin-bottom: 85px;
}

main .banner .top-banner .top-banner-text a {
    padding: 18px 40px;
    border: 1px solid #C4C4C4;
    text-decoration: none;
    color: #000;
}

main .news .news-left .title {
    font-size: 36px;
    font-family: Baskerville Light;
    color: #318649;
    margin-bottom: 40px;
}

main .news .news-left h5 {
    font-size: 24px;
    font-family: Baskerville Light;
    color: #000;
    margin-top: 20px;
}

main .news .news-left .date {
    font-size: 13px;
    color: #C4C4C4;
}

main .news-right {
    margin-top: 10px;
    margin-left: 25px;
}

main .news-right .news-right-header {
    display: flex;
    margin-bottom: 40px;
}

main .news-right .news-right-header span {
    margin-right: 28px;
    align-self: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

main .news-right .news-right-header .news-right-select {
    width: 208px;
    height: 44px;
    background: #E5E5E5;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 10px;
}

main .news-right .news-right-header .news-right-select:focus,
main .news-right .news-right-header .news-right-select:active {
    outline: none;
}

main .news-right .news-right-header .news-right-btn {
    border: none;
    padding: 8px;
    width: 50px;
    color: #FFFFFF;
    background: #216936;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
}

main .news-right .news-right-body .content .end {
    border-bottom: 0;
}

main .news-right .news-right-body .content a {
    font-family: Baskervville Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
}

main .news-right .news-right-body .content p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #C4C4C4;
    margin: 10px 0 20px 0;
}

main .news-right .news-right-body .content .line {
    width: 55px;
    background: #C4C4C4;
    height: 1px;
    margin-bottom: 20px;
}

main .faculties {
    padding: 100px 140px;
    background: #216936;
}

main .faculties .top-faculties,
main .faculties .bottom-faculties {
    display: flex;
    position: relative;
    width: 100%;
}

main .faculties .top-faculties .faculty-card-large {
    padding: 100px;
    height: 780px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

main .faculties .bottom-faculties .faculty-card-large {
    padding: 100px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 50%;
}

main .faculties .faculty-card-large {
    padding: 100px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

main .faculties .faculty-card-large .title {
    font-size: 13px;
    margin-bottom: 20px;
}

main .faculties .faculty-card-large .line {
    height: 2px;
    width: 50px;
    background: #c4c4c4;
    margin-bottom: 52px;
}

main .faculties .faculty-card-large p {
    font-size: 14px;
    margin-bottom: 85px;
}

main .faculties .faculty-card-large a {
    padding: 18px 40px;
    border: 1px solid #C4C4C4;
    text-decoration: none;
    color: #fff;
}

main .faculties .faculty-card {
    width: 50%;
    padding: 30px;
}

main .faculties .bottom-faculties .faculty-card {
    width: 50%;
    padding: 30px;
}

main .faculties .faculty-card div {
    font-size: 36px;
    font-family: 'Baskerville Light';
    color: #fff;
    margin-top: 100px;
    margin-bottom: 25px;
    line-height: 36.11px;
}

main .faculties .faculty-card a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
}

main .faculties .top-faculties .faculty-card-large {
    width: 60%;
    background: url(../images/Image\ 28.png) center/cover no-repeat, #000000;
    padding: 100px 200px 100px 100px;
}

main .faculties .bottom-faculties .faculty-card-large {
    background: linear-gradient(to bottom, rgba(18, 26, 47, 0.8), rgba(18, 26, 47, 0.8)), url(../images/Image\ 17.png) center/cover no-repeat;
    padding: 100px;
}

main .faculties .faculty-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}

main .faculties .top-faculties .faculty-cards-wrapper {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

main .faculties .bottom-faculties .faculty-cards-wrapper {
    width: 50%;
}

.faculty-card.agriculture {
    background: url(../images/Image\ 14.png) center/cover no-repeat, #318649;
}

.faculty-card.education {
    background: url(../images/Image\ 2.png) center/cover no-repeat, #535353;
}

.faculty-card.law {
    background: url(../images/Image\ 15.png) center/cover no-repeat, #a17e00;
}

.faculty-card.engineering {
    background: url(../images/Image\ 22.png) center/cover no-repeat, #295ba7;
}

.faculty-card.management {
    background: url(../images/Image\ 23.png) center/cover no-repeat, #565656;
}

.faculty-card.science {
    background: url(../images/Image\ 3.png) center/cover no-repeat, #797021;
}

.faculty-card.social-science {
    background: url(../images/Image\ 24.png) center/cover no-repeat, #43154A;
}

.faculty-card.medicine {
    background: url(../images/Image\ 25.png) center/cover no-repeat, #C34C18;
}

main .page-heading {
    background: #F5F5F5;
    padding: 100px 140px;
}

main .page-heading .title {
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #318649;
}

main .page-body {
    padding: 100px 140px;
    background: #318649;
}

main .blog {
    padding: 80px 140px;
}

main .blog-left .blog-post {
    display: flex;
}

main .blog-left .blog-post .blog-post-img {
    margin-bottom: 28px;
}

main .blog-left .blog-post .blog-post-img img {
    width: 255px;
}

main .blog-left .blog-post .blog-post-content {
    margin: 0 30px;
}

main .blog-left .blog-post .blog-post-content .title {
    font-family: Baskerville;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #318649;
    margin-bottom: 11px;
}

main .blog-left .blog-post .blog-post-content p {
    font-size: 13px;
    line-height: 25px;
}

main .blog-left .line {
    width: 95%;
    background: #C4C4C4;
    height: 1px;
    margin-bottom: 28px;
}

main .blog .blog-right h4 {
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #318649;
    padding-top: 10px;
}

main .blog .blog-right .blog-links {
    padding: 0;
    width: 75%;
    margin-bottom: 50px;
}

main .blog .blog-right .blog-links .blog-link-item {
    list-style: none;
    padding: 6px;
}

main .blog .blog-right .blog-links .blog-link-item a {
    font-size: 14px;
    line-height: 29px;
    color: #000000;
    text-decoration: none;
}

main .blog .blog-right .blog-links .blog-link-item.active {
    background: #318649;
    border-radius: 4px;
}

main .blog .blog-right .blog-links .blog-link-item.active a {
    color: #FFFFFF;
}

main .blog-right .line {
    width: 55%;
    background: #C4C4C4;
    height: 1px;
    margin-bottom: 28px;
    margin-top: -22px;
}

footer {
    background: #121A2F;
    padding: 70px 150px 27px 150px;
    color: #FFFFFF;
}

footer .title {
    font-size: 24px;
    font-family: Baskerville Light;
    font-weight: lighter;
    margin-bottom: 50px;
}

footer .campus-logo {
    margin-bottom: 47px;
}

footer .campus-address {
    font-size: 13px;
    margin-bottom: 20px;
}

footer .campus-email {
    margin-bottom: 46px;
}

footer .campus-email a {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

footer .campus-follow {
    font-size: 18px;
    font-family: Baskerville Light;
    font-weight: bold;
    margin-bottom: 15px
}

footer .social-links img {
    margin-right: 15px;
}

footer .footer-link-top {
    padding-bottom: 60px;
    border-bottom: 1px solid #777777;
}

footer .footer-link-bottom {
    padding-top: 60px;
}

footer .footer-link-section .title {
    font-size: 18px;
    font-family: Baskerville Light;
    margin-bottom: 14px;
}

footer .footer-link-section ul {
    padding: 0;
    margin: 0;
}

footer .footer-link-section ul li {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

footer .footer-link-section ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
}

footer .wrapper {
    padding-bottom: 40px;
    border-bottom: 1px solid #777777;
}

footer .copyright {
    margin-top: 27px;
    font-size: 14px;
}